body{
    text-align: center;
    background-color: lightskyblue;
}

.header{
    margin-top: 10%;
}

.affiliation{
    margin-top: 10px;
}

.icon{
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    position: relative;
}

.header h1{
    margin-top: 30px;
    font-size: 170%;
    color: #01193e;
}

.affiliation h2{
    margin-top: 25px;
    font-size: 120%;
}

.affiliation h2 a{
    color: #2c3748;
}

.affiliation h3 a{
    color: #676e79;
}

.affiliation h3{
    margin-top: 0px;
    font-size: 100%;
}

.affiliation a:hover{
    text-decoration: none;
}

.affiliation h2 a:hover{
    color: #444444;
}

.affiliation h3 a:hover{
    color: #444444;
}

.portrait{
    border-radius: 100%;
    width: 180px;
    height: auto;
}

hr{
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: #cccccc;
    height: 1px;
    width: 350px;
}

.footer{
    float: clear;
}

.links{
    margin: 10px;
    width: 30px;
}
